@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 254, 242, 242;  /* warm white */
  --foreground-rgb: 127, 29, 29;    /* deep red */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 127, 29, 29;  /* deep red */
    --foreground-rgb: 254, 242, 242;  /* warm white */
  }
}

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}
